@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin absolute-position {
  margin: 0.5%;
  position: relative;
}

$discounted-price-color: #00c;
$hover-text-bg-color: rgba(42, 99, 204, 0.671);
$hover-text-font-color: #fff;

.product-result-card {
  overflow-x: hidden;
  @include flex-column;
  margin: 4%;
  width: 100%;

  .image-container {
    width: 100%;

    .display {
    }

    .favourite-solid {
      top: -25rem;
      left: 16rem;
      @include absolute-position;
      width: 10%;
    }

    .favourite-outline {
      top: -25rem;
      left: 16rem;
      @include absolute-position;
      width: 10%;
    }
  }

  .text-container {
    @include flex-column;
    .product-name {
      font-size: 1.2em;
      font-weight: 600;
    }
  }
}

.discounted-price {
  color: $discounted-price-color;
  font-weight: 600;
}
.hover-text {
  text-align: center;
  background-color: $hover-text-bg-color;
  position: absolute;
  margin-top: -6.1%;
  color: $hover-text-font-color;
  width: 18.8%;
  padding: 1rem 0;
}

.hide {
  display: none !important;
}
